<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="css/common.css">
  {% block head0 %}{% endblock %}
  {% block head %}{% endblock %}
</head>

<body>
  {% block nav %}{% endblock %}
  {% block body %}{% endblock %}
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-left">
          <h5>© 2016 rubtsovaclose</h5>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4 text-right">
          <ul class="list-inline">
            <li>
              <a href="http://www.facebook.com/rubtsovaclose" class="xicon fa-facebook"></a>
            </li>
            <li>
              <a href="http://vk.com/rubtsovaclose" class="xicon fa-vk"></a>
            </li>
            <li>
              <a href="https://www.instagram.com/rubtsovaclose" class="xicon fa-instagram"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
  <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
  <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
  <script src='js/common.js'></script>
  {% block foot %}{% endblock %}
</body>
</html>
